body{background-color: LemonChiffon;}
img{width:100%;}
h1 {text-align: center;
    color: FireBrick;
    font-family: futura, sans-serif;}

h2 {text-align: center;
    color: FireBrick;
    font-family: futura, sans-serif;
}
h3 {color: FireBrick;
    font-family: futura, sans-serif;
  }
p { font-family: futura, sans-serif;}
ol {text-align: center;
  font-family: futura, sans-serif;
}
a:link {
  color: FireBrick;
  font-family: futura, sans-serif;
}
a:visited {
  color: Saddlebrown;
}
html {
  scroll-behavior: smooth;
}
